@model IEnumerable<Book>

@{
    ViewData["Title"] = "Index";
}

<br />
<h1>Book List</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Create New</a>
</p>

<div class="form-border">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(c => c.Name)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(c => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-success">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>

